aniso8601==9.0.1
bidict==0.22.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
Flask==2.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
gunicorn==20.0.4
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
nltk==3.7
numpy==1.22.4
oauthlib==3.2.0
python-engineio==4.3.3
python-socketio==5.7.1
pytube==12.1.0
pytz==2022.1
regex==2022.4.24
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
textblob==0.17.1
tqdm==4.64.0
tweepy==4.9.0
urllib3==1.26.9
websocket-client==1.3.3
Werkzeug==2.1.2
